<%= link_to reserf_path(@reserve) do %>
  <p>
		<div class="btn"><i class="fa fa-backward" aria-hidden="true"></i></div>
		<span>Reserva</span>
	</p>
<% end %>
<h1 class="text-md-center">Guarnição</h1>
<p id="notice" class="text-md-center"><%= notice %></p>
<div class="col-md-4">
  <h3 class="text-md-center">Armas</h3>
  <%= render "weapons/index" %>
</div>
<div class="col-md-4">
  <h3 class="text-md-center">Munição</h3>
  <%= render "munitions/index" %>
</div>
<div class="col-md-4">
  <h3 class="text-md-center">Acessorios</h3>
  <%= render "accessories/index" %>
</div>