<header class="header-reserva">
  <h1>Guarnição</h1>
  <div class="btn btn-secondary">
    <%= link_to reserf_path(@reserve) do %>
      <span>Reserva</span>
    <% end %>
  </div>
</header>
<p id="notice" class="text-md-center"><%= notice %></p>
<div class="col-md-4">
  <h3 class="text-md-center">Armas</h3>
  <%= render "weapons/index" %>
</div>
<div class="col-md-4">
  <h3 class="text-md-center">Munição</h3>
  <%= render "munitions/index" %>
</div>
<div class="col-md-4">
  <h3 class="text-md-center">Acessorios</h3>
  <%= render "accessories/index" %>
</div>