<%= form_for(@reserve) do |f| %>
  <% if @reserve.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reserve.errors.count, "error") %> prohibited this reserve from being saved:</h2>

      <ul>
      <% @reserve.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="new-form">
  <div class="field">
    <%= f.label :Iniciais %><br>
    <%= f.text_field :initials %>
  </div>
  <div class="field">
    <%= f.label :Descrição %><br>
    <%= f.text_area :description %>
  </div>
  <div>
      <%= f.submit "OK", :type => "submit" , :class => "btn btn-primary" %>
  </div>
</div>
<% end %>
