<p id="notice"><%= notice %></p>
</br>
<div class="row">
  <%= link_to reserves_path do%>
    <p>
      <div class="btn"><i class="fa fa-backward" aria-hidden="true"></i></div>
      <span>Lista de Reservas</span>
    </p>
  <% end %>
</div>

<p>
  <strong>Sigla:</strong>
  <%= @reserve.initials %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @reserve.description %>
</p>

<br>
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <h3 class="card-header">Guarnição</h3>
      <div class="card-block">
        <p class="card-text">Aqui pode-se adicionar, remover, atualizar e editar: Armas, Munições e Acessorios.</p>
        <%= link_to 'Ir para Guarnição', reserf_garrisons_path(@reserve), class:"btn btn-primary"%>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <h3 class="card-header">Soldados</h3>
      <div class="card-block">
        <p class="card-text">Aqui pode-se adicionar, remover, atualizar e editar soldados</p>
        <%= link_to 'Ir para Soldados', reserf_soldiers_path(@reserve), class:"btn btn-primary"%>
      </div>
    </div>
  </div>
</div>