<p id="notice"><%= notice %></p>
<%= link_to 'Criar Soldado', new_reserf_soldier_path(@reserve) %></br>
<p>
  <strong>Initials:</strong>
  <%= @reserve.initials %>
</p>

<p>
  <strong>Description:</strong>
  <%= @reserve.description %>
</p>

<%= link_to 'Edit', edit_reserf_path(@reserve) %> |
<%= link_to 'Back', reserves_path %>
