<%= form_for([@reserve, @garrison, @munition]) do |f| %>
  <% if @munition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@munition.errors.count, "error") %> prohibited this munition from being saved:</h2>

      <ul>
      <% @munition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="new-form">
  <div class="field">
    <%= f.label :Calibre %><br>
    <%= f.number_field :caliber %>
  </div>
  <div class="field">
    <%= f.label :Quantidade %><br>
    <%= f.number_field :amount %>
  </div>
  <div class="field">
    <%= f.label :Descrição %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
      <%= f.submit "OK", :type => "submit" , :class => "btn btn-primary" %>
  </div>
<% end %>
</div>