<p id="notice"><%= notice %></p>

<h1>Listing Loan Weapons</h1>

<table>
  <thead>
    <tr>
      <th>Loan</th>
      <th>Weapon</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @loan_weapons.each do |loan_weapon| %>
      <tr>
        <td><%= loan_weapon.loan %></td>
        <td><%= loan_weapon.weapon %></td>
        <td><%= link_to 'Show', loan_weapon %></td>
        <td><%= link_to 'Edit', edit_loan_weapon_path(loan_weapon) %></td>
        <td><%= link_to 'Destroy', loan_weapon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Loan weapon', new_loan_weapon_path %>
