<p id="notice" class="text-md-center"><%= notice %></p>
<%= form_for([@reserve,@soldier,@loan,@loan_munition]) do |f| %>
  <% if @loan_munition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@loan_munition.errors.count, "error") %> prohibited this loan_munition from being saved:</h2>

      <ul>
      <% @loan_munition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <strong>Quantidade a ser retirada: </strong>
    <%= f.number_field :amount %>
  </div>
  </br>
  <div class="row">
    <% @munitions.each do |munition|%>
      <div class="col-md-4">
        <p><%= f.radio_button :munition_id, munition.id %><strong>Calibre: </strong><%= munition.caliber %></p>
        <p><strong>Descrição: </strong><%= munition.description %></p>
        <p><strong>Quantidade: </strong><%= munition.amount %></p>
      </div>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
