<%= form_for(@reserve_material) do |f| %>
  <% if @reserve_material.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reserve_material.errors.count, "error") %> prohibited this reserve_material from being saved:</h2>

      <ul>
      <% @reserve_material.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
  <div class="col-md-4">
    <h2>Armas</h2>
    <%= collection_radio_buttons(:reserve_material, :weapons_id, @weaponsUnallocated.all, :id, :model) do |b| %>
      <%= b.label(:"data-value" => b.value) { b.radio_button + b.text } %></br>
    <% end %>
  </div>

  <div class="col-md-4">
    <h2>Munição</h2>
    <%= collection_radio_buttons(:reserve_material, :munitions_id, @munitionsUnallocated.all, :id, :caliber) do |b| %>
      <%= b.label(:"data-value" => b.value) { b.radio_button + b.text } %></br>
    <% end %>
  </div>

  <div class="col-md-4">
    <h2>Acessorios</h2>
    <%= collection_radio_buttons(:reserve_material, :accessories_id, @accessoriesUnallocated.all, :id, :description) do |b| %>
      <%= b.label(:"data-value" => b.value) { b.radio_button + b.text } %></br>
    <% end %>
  </div>
<% end %>
