<p id="notice"><%= notice %></p>
<%= link_to 'New Reserve material', new_reserve_material_path %>

<h1>Listing Reserve Materials Allocated</h1>

<table>
  <thead>
    <tr>
      <th>Weapons</th>
      <th>Accessories</th>
      <th>Munitions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reserveMaterialsAllocated.each do |reserve_material| %>
      <tr>
        <td><%= reserve_material.weapons %></td>
        <td><%= reserve_material.accessories %></td>
        <td><%= reserve_material.munitions %></td>
        <td><%= link_to 'Show', reserve_material %></td>
        <td><%= link_to 'Edit', edit_reserve_material_path(reserve_material) %></td>
        <td><%= link_to 'Destroy', reserve_material, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h1>Listing Reserve Materials Unallocated</h1>

<table>
  <thead>
    <tr>
      <th>Weapons</th>
      <th>Accessories</th>
      <th>Munitions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reserve_materials.each do |reserve_material| %>
      <tr>
        <td><%= reserve_material.weapons %></td>
        <td><%= reserve_material.accessories %></td>
        <td><%= reserve_material.munitions %></td>
        <td><%= link_to 'Show', reserve_material %></td>
        <td><%= link_to 'Edit', edit_reserve_material_path(reserve_material) %></td>
        <td><%= link_to 'Destroy', reserve_material, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
