<p id="notice"><%= notice %></p>

<p>
  <strong>Loan:</strong>
  <%= @loan_accessory_log.loan %>
</p>

<p>
  <strong>Accessory:</strong>
  <%= @loan_accessory_log.accessory %>
</p>

<p>
  <strong>Reserve:</strong>
  <%= @loan_accessory_log.reserve %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @loan_accessory_log.amount %>
</p>

<%= link_to 'Edit', edit_loan_accessory_log_path(@loan_accessory_log) %> |
<%= link_to 'Back', loan_accessory_logs_path %>
