<p id="notice"><%= notice %></p>

<h1>Listing Loan Weapon Logs</h1>

<table>
  <thead>
    <tr>
      <th>Loan</th>
      <th>Weapon</th>
      <th>Reserve</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @loan_weapon_logs.each do |loan_weapon_log| %>
      <tr>
        <td><%= loan_weapon_log.loan %></td>
        <td><%= loan_weapon_log.weapon %></td>
        <td><%= loan_weapon_log.reserve %></td>
        <td><%= link_to 'Show', loan_weapon_log %></td>
        <td><%= link_to 'Edit', edit_loan_weapon_log_path(loan_weapon_log) %></td>
        <td><%= link_to 'Destroy', loan_weapon_log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Loan weapon log', new_loan_weapon_log_path %>
