<%= form_for(@loan_munition_log) do |f| %>
  <% if @loan_munition_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@loan_munition_log.errors.count, "error") %> prohibited this loan_munition_log from being saved:</h2>

      <ul>
      <% @loan_munition_log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :loan_id %><br>
    <%= f.text_field :loan_id %>
  </div>
  <div class="field">
    <%= f.label :munition_id %><br>
    <%= f.text_field :munition_id %>
  </div>
  <div class="field">
    <%= f.label :reserve_id %><br>
    <%= f.text_field :reserve_id %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.number_field :amount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
