<p id="notice"><%= notice %></p>

<h1>Listing Loan Munition Logs</h1>

<table>
  <thead>
    <tr>
      <th>Loan</th>
      <th>Munition</th>
      <th>Reserve</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @loan_munition_logs.each do |loan_munition_log| %>
      <tr>
        <td><%= loan_munition_log.loan %></td>
        <td><%= loan_munition_log.munition %></td>
        <td><%= loan_munition_log.reserve %></td>
        <td><%= loan_munition_log.amount %></td>
        <td><%= link_to 'Show', loan_munition_log %></td>
        <td><%= link_to 'Edit', edit_loan_munition_log_path(loan_munition_log) %></td>
        <td><%= link_to 'Destroy', loan_munition_log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Loan munition log', new_loan_munition_log_path %>
