<p id="notice"><%= notice %></p>

<p>
  <strong>Loan:</strong>
  <%= @loan_munition_log.loan %>
</p>

<p>
  <strong>Munition:</strong>
  <%= @loan_munition_log.munition %>
</p>

<p>
  <strong>Reserve:</strong>
  <%= @loan_munition_log.reserve %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @loan_munition_log.amount %>
</p>

<%= link_to 'Edit', edit_loan_munition_log_path(@loan_munition_log) %> |
<%= link_to 'Back', loan_munition_logs_path %>
