<p id="notice"><%= notice %></p>

<h1>Listing Loan Accessories</h1>

<table>
  <thead>
    <tr>
      <th>Loan</th>
      <th>Accessory</th>
      <th>Reserve</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @loan_accessories.each do |loan_accessory| %>
      <tr>
        <td><%= loan_accessory.loan %></td>
        <td><%= loan_accessory.accessory %></td>
        <td><%= loan_accessory.reserve %></td>
        <td><%= loan_accessory.amount %></td>
        <td><%= link_to 'Show', loan_accessory %></td>
        <td><%= link_to 'Edit', edit_loan_accessory_path(loan_accessory) %></td>
        <td><%= link_to 'Destroy', loan_accessory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Loan accessory', new_loan_accessory_path %>
