<%= form_for([@reserve, @garrison, @weapon]) do |f| %>
  <% if @weapon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@weapon.errors.count, "error") %> prohibited this weapon from being saved:</h2>

      <ul>
      <% @weapon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="new-form">
  <div class="field">
    <%= f.label :"Número Serial" %><br>
    <%= f.number_field :serialNumber %>
  </div>
  <div class="field">
    <%= f.label :Modelo %><br>
    <%= f.text_field :model %>
  </div>
  <div class="field">
    <%= f.label :Fábrica %><br>
    <%= f.text_field :factory %>
  </div>
  <div class="actions">
      <%= f.submit "OK", :type => "submit" , :class => "btn btn-primary" %>
  </div>
<% end %>
</div>