<%= link_to reserf_path(@reserve)do%>
  <p>
    <div class="btn"><i class="fa fa-backward" aria-hidden="true"></i></div>
    <span>Voltar para Reserva <%= @reserve.initials %></span>
  </p>
<% end %>

<h2 class="text-md-center">Soldados da: <%= @reserve.initials %></h2>
<p id="notice" class="text-md-center"><%= notice %></p>

<div class="text-md-right"><%= link_to new_reserf_soldier_path(@reserve) do %><span class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i></span><% end %></div>

<% @soldiers.each do |soldier| %>
  <div class="col-md-4">
    <div class="card">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Função: </strong><%= soldier.function %></li>
        <li class="list-group-item"><strong>Nome de Guerra: </strong><%= soldier.warName %></li>
      </ul>
      <div class="card-block">
        <%= link_to reserf_soldier_loans_path(@reserve, soldier), class: "col-md-4" do %><div class="btn btn-info"><i class="fa fa-info" aria-hidden="true"></i></div><% end %>
        <%= link_to edit_reserf_soldier_path(@reserve, soldier), class: "col-md-4" do %><div class="btn btn-warning"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></div><% end %>
        <%= link_to reserf_soldier_path(@reserve, soldier), method: :delete, data: { confirm: 'Are you sure?' }, class: "col-md-4"  do %> <div class="btn btn-danger"><i class="fa fa-times" aria-hidden="true"></i></div><% end %>
      </div>
    </div>
  </div>
<% end %>