<p id="notice"><%= notice %></p>

<p>
  <strong>Função:</strong>
  <%= @soldier.function %>
</p>

<p>
  <strong>Nome de Guerra:</strong>
  <%= @soldier.warName %>
</p>

<p>
  <strong>Reserva que Pertence:</strong>
  <%= @soldier.reserve.initials %>
</p>

<%= link_to reserf_soldiers_path do%>
  <p>
    <div class="btn"><i class="fa fa-backward" aria-hidden="true"></i></div>
    <span>Lista de Soldados</span>
  </p>
<% end %>

<%= link_to 'Emprestimo' ,reserf_soldier_loans_path(@reserve,@soldier) %>