<p id="notice"><%= notice %></p>

<p>
  <strong>Função:</strong>
  <%= @soldier.function %>
</p>

<p>
  <strong>Nome de Guerra:</strong>
  <%= @soldier.warName %>
</p>

<p>
  <strong>Reserva que Pertence:</strong>
  <%= @soldier.reserve.initials %>
</p>

<%= link_to 'Back', reserf_soldiers_path %>
