
	<div class="col-md-4">
		<% if !@loan.loan_weapon_logs.empty?%>
			<div class="card">
	      <div class="card-block">
	        <h4 class="card-title">Armamento</h4>
	      </div>
	      <ul class="list-group list-group-flush">
	        <% @loan.loan_weapon_logs.each do |loan_W| %>
	          <li class="list-group-item">
	            <p>Nº de Serie: <%= loan_W.weapon.serialNumber %></p>
	            <p>Modelo: <%= loan_W.weapon.model %></p>
	            <p>Fabricante: <%= loan_W.weapon.factory %></p>
	          </li>
	        <% end %>        
	      </ul>
	      <div class="card-footer text-muted">
	        <%= @loan.updated_at.time %>
	      </div>
	    </div>
		<% end %>
	</div>
	
	<div class="col-md-4">

		<% if !@loan.loan_munition_logs.empty?%>
			<div class="card">
	      <div class="card-block">
	        <h4 class="card-title">Munição</h4>
	      </div>
	      <ul class="list-group list-group-flush">
	        <% @loan.loan_munition_logs.each do |loan_M| %>
	          <li class="list-group-item">
	            <p>Descrição: <%= loan_M.munition.description %></p>
	            <p>Descrição: <%= loan_M.munition.caliber %></p>
	            <p>Quantidade: <%= loan_M.amount %></p>
	          </li>
	        <% end %>        
	      </ul>
	      <div class="card-footer text-muted">
	        <%= @loan.updated_at.time %>
	      </div>
	    </div>
		<% end %>
	</div>
	<div class="col-md-4">

		<% if !@loan.loan_accessory_logs.empty?%>
			<div class="card">
	      <div class="card-block">
	        <h4 class="card-title">acessórios</h4>
	      </div>
	      <ul class="list-group list-group-flush">
	        <% @loan.loan_accessory_logs.each do |loan_A| %>
	          <li class="list-group-item">
	            <p>Descrição: <%= loan_A.accessory.description %></p>
	            <p>Quantidade: <%= loan_A.amount %></p>
	          </li>
	        <% end %>        
	      </ul>
	      <div class="card-footer text-muted">
	        <%= @loan.updated_at.time %>
	      </div>
	    </div>
		<% end %>
	</div>
