<p id="notice"><%= notice %></p>

<h1 class="text-md-center">Emprestimos do soldado</h1>

<div class="row">
  <% if !@active %>
    <div class="text-md-right"><%= link_to new_reserf_soldier_loan_path(@reserve, @soldier) do %><span class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i></span><% end %></div>
  <% end %>
  <% @loans.each do |loan|%>
    <div class="col-md-4">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Ativo</h4>
          <div class="text-md-right"><%= link_to reserf_soldier_loan_path(@reserve, @soldier, loan) do %><span class="btn btn-info"><i class="fa fa-eye" aria-hidden="true"></i></span><% end %></div>
        </div>
        <ul class="list-group list-group-flush">
          <% loan.loan_weapons.each do |loan_W| %>
            <li class="list-group-item">
              <p>Nº de Serie: <%= loan_W.weapon.serialNumber %></p>
              <p>Modelo: <%= loan_W.weapon.model %></p>
              <p>Fabricante: <%= loan_W.weapon.factory %></p>
            </li>
          <% end %>
          <li class="list-group-item">Munição X quantidade Y</li>
          
          <li class="list-group-item">Acessorio X quantidade Y</li>
        </ul>
        <div class="card-footer text-muted">
          <%= loan.updated_at.time %>
        </div>
      </div>
    </div>
  <% end %>
</div>
