<h1 class="text-md-center">Novo Emprestimo</h1>

<%= form_for([@reserve,@soldier,@weapon,@loan]) do |f| %>
  <% if @loan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@loan.errors.count, "error") %> prohibited this loan from being saved:</h2>

      <ul>
      <% @loan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="text-md-center">
    <p><strong>Tem certeza que deseja iniciar uma cautela?</strong></p>
    <p><strong>Soldado: <%= @soldier.warName%></strong></p>
    <p><strong>Função: <%= @soldier.function%></strong></p>
    <p><strong>No dia: <%= DateTime.now.day.to_s + "/" + DateTime.now.month.to_s + "/" +DateTime.now.year.to_s%> as <%= Time.now.to_formatted_s(:time) %></strong></p>
  </div>

  <div class="actions text-md-center">
    <%= f.submit "Abrir emprestimo", class: "btn btn-success" %>
  </div>
<% end %>


