<%= link_to reserf_soldier_loans_path(@reserve,@soldier,@loan) do %>
  <p>
		<div class="btn"><i class="fa fa-backward" aria-hidden="true"></i></div>
		<span>Reservas do soldado: <%= @soldier.warName %></span>
	</p>
<% end %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Soldier:</strong>
  <%= @loan.soldier.warName %>
</p>
<p><strong><%= @loan.updated_at.time.strftime("Cautela realidazada em %b, %m %Y") %></strong></p>
<% if @loan.active %>
	<%= render "active"%>
<% else %>
	<%= render "inactive"%>
<% end %>