<%= link_to reserf_soldier_loans_path(@reserve,@soldier,@loan) do %>
  <p>
		<div class="btn"><i class="fa fa-backward" aria-hidden="true"></i></div>
		<span>Reservas do soldado: <%= @soldier.warName %></span>
	</p>
<% end %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Soldier:</strong>
  <%= @loan.soldier.warName %>
</p>

	<div class="col-md-4">
		<div class="text-md-right"><%= link_to new_reserf_soldier_loan_loan_weapon_path(@reserve,@soldier,@loan) do %><span class="btn btn-success"><i class="fa fa-rocket" aria-hidden="true"></i></span><% end %></div>

		<% if !@loan.loan_weapons.empty?%>
			<div class="card">
	      <div class="card-block">
	        <h4 class="card-title">Armamento</h4>
	      </div>
	      <ul class="list-group list-group-flush">
	        <% @loan.loan_weapons.each do |loan_W| %>
	          <li class="list-group-item">
	            <p>Nº de Serie: <%= loan_W.weapon.serialNumber %></p>
	            <p>Modelo: <%= loan_W.weapon.model %></p>
	            <p>Fabricante: <%= loan_W.weapon.factory %></p>
	            <p>            	
	            	<%= link_to reserf_soldier_loan_loan_weapon_path(@reserve,@soldier,@loan,loan_W), method: :delete, data: { confirm: 'Are you sure?' }  do %> <div class="btn btn-warning"><i class="fa fa-exchange" aria-hidden="true"></i></div><% end %>
	            </p>

	          </li>
	        <% end %>        
	      </ul>
	      <div class="card-block">
					<p><%= link_to "Devolver Tudo", reserf_soldier_loan_give_back_all_weapons_path(@reserve,@soldier,@loan), class: "card-link", data: { confirm: 'Realmente deseja devolver tudo?' }%></p>	      
				</div>
	      <div class="card-footer text-muted">
	        <%= @loan.updated_at.time %>
	      </div>
	    </div>
		<% end %>
	</div>
	
	<div class="col-md-4">
		<div class="text-md-right"><%= link_to new_reserf_soldier_loan_loan_munition_path(@reserve,@soldier,@loan) do %><span class="btn btn-success"><i class="fa fa-bomb" aria-hidden="true"></i></span><% end %></div>

		<% if !@loan.loan_munitions.empty?%>
			<div class="card">
	      <div class="card-block">
	        <h4 class="card-title">Munição</h4>
	      </div>
	      <ul class="list-group list-group-flush">
	        <% @loan.loan_munitions.each do |loan_M| %>
	          <li class="list-group-item">
	            <p>Descrição: <%= loan_M.munition.description %></p>
	            <p>Descrição: <%= loan_M.munition.caliber %></p>
	            <p>Quantidade: <%= loan_M.amount %></p>
	            <p>            	
	            	<%= link_to reserf_soldier_loan_loan_munition_path(@reserve,@soldier,@loan,loan_M), method: :delete, data: { confirm: 'Are you sure?' }  do %> <div class="btn btn-warning"><i class="fa fa-exchange" aria-hidden="true"></i></div><% end %>
	            </p>

	          </li>
	        <% end %>        
	      </ul>
	      <div class="card-block">
					<p><%= link_to "Devolver Tudo", reserf_soldier_loan_give_back_all_munitions_path(@reserve,@soldier,@loan), class: "card-link", data: { confirm: 'Realmente deseja devolver tudo?' }%></p>	      
				</div>
	      <div class="card-footer text-muted">
	        <%= @loan.updated_at.time %>
	      </div>
	    </div>
		<% end %>
	</div>
	<div class="col-md-4">
		<div class="text-md-right"><%= link_to new_reserf_soldier_loan_loan_accessory_path(@reserve,@soldier,@loan) do %><span class="btn btn-success"><i class="fa fa-binoculars" aria-hidden="true"></i></span><% end %></div>

		<% if !@loan.loan_accessories.empty?%>
			<div class="card">
	      <div class="card-block">
	        <h4 class="card-title">acessórios</h4>
	      </div>
	      <ul class="list-group list-group-flush">
	        <% @loan.loan_accessories.each do |loan_A| %>
	          <li class="list-group-item">
	            <p>Descrição: <%= loan_A.accessory.description %></p>
	            <p>Quantidade: <%= loan_A.amount %></p>
	            <p>            	
	            	<%= link_to reserf_soldier_loan_loan_accessory_path(@reserve,@soldier,@loan,loan_A), method: :delete, data: { confirm: 'Are you sure?' }  do %> <div class="btn btn-warning"><i class="fa fa-exchange" aria-hidden="true"></i></div><% end %>
	            </p>

	          </li>
	        <% end %>        
	      </ul>
	      <div class="card-block">
					<p><%= link_to "Devolver Tudo", reserf_soldier_loan_give_back_all_accessories_path(@reserve,@soldier,@loan), class: "card-link", data: { confirm: 'Realmente deseja devolver tudo?' }%></p>	      
				</div>
	      <div class="card-footer text-muted">
	        <%= @loan.updated_at.time %>
	      </div>
	    </div>
		<% end %>
	</div>
